include ../partials/header.pug
h1 Qui prend quoi ?
h2= party.name
h3 Créé par #{party.author}
label(for="url") Partagez l'évenement
span
  input(type="text" id="url" value=`${url}` data-clipboard=`${url}` data-share-url=`${url}` 
  data-share-title=`${party.name}`
  data-share-text=`${party.author} vous invite à rejoindre l'évenement ${party.name}`
  )
h3 Items
form(method="post" action=`/party/${party._id}/items`)
  div
    label(for="name") Nom de l'item
    input(type="text" id="name" name="name" required placeholder="Champomy")
    label(for="user") Nom de la personne qui doit le ramener
    input(type="text" id="user" name="user" required placeholder="Charles")
  button(type="submit" id="sendItem") Créer
div(class="items")
  each item in party.items
    div
      p #{item.user} - #{item.name}
      form(method="post" action=`/party/${party._id}/items/${item._id}?_method=DELETE`)
        button(type="submit") Supprimer l'item
script.
  party = !{JSON.stringify(party)}